.btn {
    display: inline-flex;
	align-items: center;
    color: var(--white);
    font-weight: 700;
    font-size: 18px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
	text-decoration: none;
	padding: 0 24px;
	border: 2px solid transparent;
    background: transparent;
}

.btn_outline {
    background: transparent;
    color: var(--primary);
    text-align: center;
    border-color: var(--primary);
    }

.btn_large {
    height: 56px;
}

.btn_black {
    background: var(--dark);
}

.btn_black:hover {
    color: var(--white);
    background-color: var(--primary);
}


.btn_tranparent {
    background: transparent
}

.btn_icon {
    padding: 0 12px;
}

.btn-icon:first-child {
    margin-right: 30px;
}

.btn-icon:last-child {
    margin-left: 30px;
}

.btn_circle {
    border-radius: 100%;
    height: 56px;
    width: 56px;
    padding: 0px;
    margin-right: 22px;
    flex-shrink: 0;
    justify-content: center;
    border-color: var(--secondary);
    color: var(--secondary);
}

.btn_circle:last-child {
    margin-right: 0px;
}


.btn-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

