.cta-form {
	background: var(--blue);
	color: #fff;
	padding: 64px 0;
}

.cta-form__form {
	height: 100%;
	margin-top: 36px;
}

.cta-form__input {
	margin-bottom: 10px;
}

.cta-form__input:focus {
	outline: none!important;
}

.cta-form__text {
	text-align: center;
}

@media screen and (min-width: 768px) {
	
	.cta-form__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.cta-form__input {
		background: var(--white);
		border: 1px solid #c3cad9;
		border-radius: 8px;
		height: 56px;
        display: flex;
        padding: 3px;
	}

	.cta-form__input-item {
		height: 100%;
		color: var(--dark);
		border: none;
		padding: 0 12px;
		flex-grow: 1;
	}
}

@media screen and (min-width: 992px) {
    .cta-form__text {
		text-align: initial;
	}

	.cta-form__form {
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .cta-form {
        padding: 100px 0;
    }

    .cta-form__form {
        padding: 0 50px;
    }
}

@media screen and (max-width: 767px) {
    .cta-form__input-item {
        background: #ffffff;
        border: 1px solid var(--grey);
        border-radius: 8px;
        height: 56px;
        display: flex;
        padding: 0 20px;
        width: 100%;
        margin-bottom: 10px;
    }

    .cta-form__input-item::placeholder {
        color: var(--grey);
    }

    .cta-form__input-item:focus {
        outline: none!important;
    }

    .cta-form__submit {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}