.header-main {
    --margin: 40px;
    --user-padding: 10px;

    height: 100px;
    margin-bottom: 36px;
    display: flex;
    align-items: center;
}




.header-main__menu {
    display: flex;
    justify-content: flex-end;


}

.header-nav {
    margin: auto 0;

}
.header-nav + * {
    margin-left: calc (var(--margin)- var(--user-padding));
}

.header-nav__link {
    font-family: var(--font);
    font-weight: 600;
    font-size: 16px;
    color: var(--dark);
    text-decoration: none;
	padding: var(--user-padding);
    }

.header-nav__link:not(:last-child) {
	margin-right: calc(var(--gutter) - var(--user-padding) * 2);
}

.header-nav__link:last-child {
    margin-right: calc(var(--margin) - var(--user-padding));
}

.header-nav__link:hover {
    color: var(--primary);
}

.logo-main {
    display: flex;
    align-items: center;
    height: 100%;
}

@media screen and (max-width:991px) {
    .header-main {
        margin-bottom: 30px;
        height: 64px;
    }

}

@media screen and (max-width:575px) {
    .header-main {
        margin-bottom: 24px;

    }

}
