
.hero {
    width: 100%;
    background: #E8EAE9 url('/images/hero/hero-mobile.jpg') top no-repeat;
	border-radius: 0%;
	color: var(--secondary);
    padding-top: 380px;
    padding-bottom: 36px;
    line-height: 1.75;
    text-align: center;
    font-size: 16px;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 64px;

}

.tag {
    padding: 6px 16px;
    height: 20px;
    border-radius: 30px;
    color: #36B37E;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    }

.hero-tag {
    background: #EBF7F2;
}

.hero-main__title {
    color: var(--dark);
    font-family: var(--secondary-font) ;
    font-size: 32px;
    margin-top: 20px;
}

.hero-main {
    text-align: center;
}

.hero-button {
    margin-top: 24px;
}


.advantage {
    margin-top: 20px;
}

.advantage-item {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    margin-left: 8px;
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--dark);
}

.advantage-item:not(:last-child) {
    margin-bottom: 16px;
}

.advantage-item-icon {
    display: flex;
    width: 24px;
    height: 24px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    margin-right: 8px;
}

.advantage-item-icon > svg {
    display: block;
    width: 14px;
    height: 14px;
    margin: auto;
}

@media screen and (min-width:768px) {
    .hero {
        width: calc(100% - 40px);
        background: #E8EAE9 url('/images/hero/hero-desktop.jpg') center top no-repeat;
        background-size: cover;
        border-radius: 8px;
        text-align: initial;
        padding: 36px 0;
        margin-bottom: 82px;
    }

    .hero-main {
        text-align: initial;
    }

    .hero-main__title {
        font-size: 48px;
        margin-top: 24px;
    }

    .hero-button {
        margin-top: 36px;
    }

    .advantage {
        margin-top: 48px;
    }

    .advantage-item {
        margin: auto 0;
    }

    .advantage-item:not(:last-child) {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .advantage-item-icon {
        width: 36px;
        height: 36px;
    }
    .advantage-item-icon > svg {
        width: 22px;
        height: 22px;
    }

}

@media screen and (min-width: 1200px) {
    .hero {
        font-size: 20px;
        padding: 60px 0;
        margin-bottom: 120px;
    }


    .block-text__title {
        font-size: 50px;
        margin-top: 28px;
    }

    .advantage-item:not(:last-child) {
        margin-right: 30px;
    }
}
