.products-content {
    color: var(--dark);
    padding-bottom: 150px;
}

.categories {
    display: flex;
    justify-content: space-between;
}

.categories-nav {
    font-family: var(--font);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
}

.categories-nav__link {
    margin-right: 38px;
    color: var(--dark);
    border: none;
    background: transparent;
    cursor: pointer;
}

.categories-nav__link:not(:last-child) {
    margin-right: 38px;
}

.categories-nav__link_selected {
    font-weight: bold;
}

.categories-nav__link:hover {
    color: var(--blue);
}

.trading-items__information {
    margin-top: 20px;
}

.trading-items__link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    color: var(--dark);
    line-height: 32px;
    margin-top: 20px;

}

.trading-items__link:hover {
    color: var(--blue);
}

.trading-items__price {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    color: var(--grey);
    font-family: var(--font);
    font-size: 20px;
    line-height: 1.8px;
}

.trading-items__picture {
    display: block;
}

.categories-text__title {
    margin-top: 0;
}

@media screen and (max-width:991px) {
    .categories {
        display: block ;
        text-align: center;

    }

    .categories-nav {
        margin-top: 28px;
    }

    .products-content {
        padding-bottom: 80px;
    }
}

.btn-information {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.btn-information__text {
    margin-top: 0px;
}

.btn-more {
    background-color: var(--blue);
    width: 100%;
    border: none;
    color: #FAFAFB;
    border-radius: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-family: var(--secondary-font);
    display: block;
    position: relative;
    padding-top: calc(411/305*100%);

}

.btn-more:hover {
    background-color: var(--dark);
    color: var(--white);
}

@media screen and (min-width:768px) {
    .btn-information {
        font-size: 24px;
        padding: 0;
    }

    .btn-information__text {
        margin-top: 25px;
    }
}



@media screen and (max-width:575px)  {
    .trading-items {
        margin-bottom: 20px;
    }

    .trading-items__price {
        justify-content: flex-start;
        font-size: 14px;
        margin-right: 9px;
        line-height: 1.71;
    }

    .products-content {
        padding-bottom: 48px;
    }

    .categories-nav__link {
        margin: 0;
    }

    .categories-nav__link:not(:last-child) {
        margin: 0;
    }

    .categories-nav {
        width: 100%;
        padding: 0;
        margin-top: 24px;
    }

    .categories-nav__link {
        font-size: 16px;
        margin: 0;
        padding: 5px 6px;
    }

    .trading-items__link {
        font-size: 16px;
        margin: 0;
        line-height: 20px;
    }

    .trading-items__information {
        margin-top: 13px;

    }

    .trading-item__action {
        height: 14px;
        width: 13px;
    }

    .btn-information {
        padding: 0px;
    }
}

.trading-item__action {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.trading-items__picture img {
    width: 100%;
    height: auto;
}

