.stories-block {
    padding-top: 47px;
    padding-bottom: 64px;
}

.stories-block__items {
    display: flex;
}

.stories-element__title {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.45;
    color: var(--dark);
    margin-bottom: 12px;
}

.stories-block__content {
    margin-bottom: 36px;
    text-align: center;
}

.stories-element__preview {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 24px;
}

.stories-element__content {
    padding: 20px 10px 20px 20px;
    background: #FAFDFF;
    ;
    position: relative;
    z-index: 2;
    margin-top: -20px;
    margin-left: 10px;
}

.stories-button {
    margin-top: 27px;
    justify-content: center;
}

.stories-element__content > *:not(:last-child) {
    margin-bottom: 12px;
}

.stories-element__picture {
    display: block;
    width: 100%;
}


@media screen and (min-width:768px) {
    .stories-block {
        padding-top: 79px;
        padding-bottom: 80px;
    }

    .stories-block__content {
        margin-bottom: 36px;
    }

    .stories-element__title {
        font-size: 22px;
        line-height: 1.2;
    }

    .stories-element__content {
        padding: 20px 30px 20px 20px;
    }

    .stories-button {
        margin-top: 36px;
    }

    .stories-element__preview {
        margin-bottom: 0px;
    }

}

@media screen and (min-width:1200px) {
    .stories-block {
        padding-top: 120px;
        padding-bottom: 140px;
    }

    .stories-block__content {
        text-align: initial;
        margin-bottom: 0px;
    }

    .stories-button {
        justify-content: flex-start;
        margin-top: 42px;
    }

}
