.custom-checkbox {
    width: 200px;
    position: relative;
    padding-left: 1.5rem;
    margin-top: 13px;
}

.custom-checkbox__input {
    display: none;
}

.custom-checkbox__label {
    cursor: pointer;
}

.custom-checkbox__label::before {
    content: '';
    width: 1rem;
    height: 1rem;
    display:inline-block ;
    border: 1px solid;
    border-radius: 4px;
    background: #fff;
    margin-right: 1rem;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.custom-checkbox__input:checked + .custom-checkbox__label::before {
    background-color: var(--blue);
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_ddd_483_435)'%3E%3Crect x='3' y='2' width='16' height='16' rx='4' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 6.80005C13.724 6.80005 13.474 6.91205 13.293 7.09305L12.293 8.09305L10 10.386L8.707 9.09305C8.526 8.91205 8.276 8.80005 8 8.80005C7.448 8.80005 7 9.24805 7 9.80005C7 10.076 7.112 10.326 7.293 10.507L9.293 12.507C9.474 12.688 9.724 12.8 10 12.8C10.276 12.8 10.526 12.688 10.707 12.507L13.707 9.50705L14.707 8.50705C14.888 8.32605 15 8.07605 15 7.80005C15 7.24755 14.552 6.80005 14 6.80005Z' fill='%231565D8'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_ddd_483_435' x='0' y='0' width='22' height='22' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='0.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_483_435'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='0.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow_483_435' result='effect2_dropShadow_483_435'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='effect2_dropShadow_483_435' result='effect3_dropShadow_483_435'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect3_dropShadow_483_435' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    border-color: var(--blue);
}

.custom-checkbox__label a {
    color: #fff;
}

.custom-checkbox__label a:hover {
    color: var(--dark);
}