.footer-main {
    /* height: 300px;
    background: var(--blue); */
    background: #eee;
    padding: 130px 0 60px;
    margin: 0;

}

 .footer-icon {
    margin-top: 31px;

}

.footer-icon__link {
    border-radius: 100%;
    background: rgba(128, 128, 128, 0.1); 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-right: 6px;
}

.footer-logo {
    margin-bottom: 28px;
} 

.footer-nav {
    margin-top: 31px;
    flex-wrap: wrap;

}

.footer-nav__link {
    text-decoration: none;
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    color: var(--dark);
    margin-bottom: 24px;
    display: block;
}

.footer-nav__link:hover {
    color: var(--blue);
}

h3 { 
    margin: 0;
}

.footer-main h3 {
    color: var(--grey);
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.footer-item h3 {
    color: var(--dark);
    font-weight: 700;
    margin-bottom: 31px;
    font-size: 18px;
}

.footer-heart {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.footer-heart_picture {
    display: flex;
    background-color: var(--blue);
    border: none;
    height: 56px;
    width: 56px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.footer-heart-information {
    text-align: center;
    margin-top: 24px;

}

@media screen and (max-width: 575px) {
    .footer-item h3 {
        font-size: 16px ;
        
    }
    .footer-nav__link {
        font-size: 14px;
    }

    .footer-logo {
        margin-bottom: 14px;
        text-align: center;
    }

    .footer-main h3 {
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    .footer-icon {
        margin-top: 16px;
        margin-bottom: 45px;
        text-align: center;
    }
}