:root {
    --blue: #1565D8;
    --dark: #183B56;
    --grey: #5A7184;
    --font: 'Open Sans', sans-serif;
    --secondary-font: 'HK Grotesk', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    font-weight: bold;
    margin: 0;
    line-height: 1.25;
}

p {
    margin: 0;
}

body {
    font-family: var(--font);
    line-height: 1.25;
	font-size: 16px;
    font-style: normal;
}

.btn {
    display: inline-flex;
	align-items: center;
    color: #E8EAE9;
    font-weight: 700;
    font-size: 18px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
	text-decoration: none;
	padding: 0 24px;
	border: 2px solid transparent;
}

.btn-link {
    font-weight: 700;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .btn-link {
        font-weight: 700;
        font-size: 18px;
    }
}

.btn-icon:first-child {
    margin-right: 30px;
}

.btn-icon:last-child {
    margin-left: 30px;
}

.btn_outline {
    background: transparent;
    color: var(--blue);
    text-align: center;
    border-color: var(--blue);
    /* margin-left: 40px; */
    }

.btn_large {
    height: 56px;
}

.btn_black {
    background: var(--dark);
}

.btn:hover {
    color: var(--blue);
}

.btn_black:hover {
    color: #fff;
    background: var(--blue);
}

.btn_tranparent {
    background: transparent
}

.btn_icon {
    padding: 0 12px;
}

.hidden {
    display: none !important;
}

@media screen and (min-width: 576px) {
    .hidden-sm {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .hidden-md {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    .hidden-lg {
        display: none !important;
    }
}

@media screen and (min-width: 1200px) {
    .hidden-xl {
        display: none !important;
    }
}

@media screen and (max-width: 575px) {
    .hidden-xs-only {
        display: none !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .hidden-sm-only {
        display: none !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .hidden-md-only {
        display: none !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .hidden-lg-only {
        display: none !important;
    }
}

@media screen and (min-width: 1200px) {
    .hidden-xl-only {
        display: none !important;
    }
}

@media screen and (max-width: 575px) {
    .btn_black {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
