:root {
    --primary: #1565D8;
    --dark: #183B56;
    --secondary: #5A7184;
    --white: #fff;
    --light: #f8f9fa;
    --font: 'Open Sans', sans-serif;
    --secondary-font: 'HK Grotesk', sans-serif;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    line-height: 1.25;
    font-weight: bold;
    margin: 0;
    color: var(--dark);
}

p {
    margin: 0;
}

body {
    font-family: var(--font);
    line-height: 1.75;
	font-size: 16px;
    font-style: normal;
}


