:root {
    --blue: #1565D8;
    --dark: #183B56;
    --grey: #5A7184;
    --font: 'Open Sans', sans-serif;
    --secondary-font: 'HK Grotesk', sans-serif;

}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
    font-weight: bold;
    margin: 0;
}
p {
    margin: 0;
}

body {
    font-family: var(--font);
	font-size: 16px;
    font-style: normal;
}

.btn {
    display: inline-flex;
	align-items: center;
    color: #E8EAE9;
    font-weight: 700;
    font-size: 18px;
    height: 48px;
    border-radius: 8px;
    /* margin-left: 70px; */
    cursor: pointer;
	text-decoration: none;
	padding: 0 24px;
	border: 2px solid transparent;
}

.btn_outline {
    background: transparent;
    color: var(--blue);
    text-align: center;
    border-color: var(--blue);
    }

.btn_large {
    height: 56px;
}
.btn_black {
    background: var(--dark);
}

.btn:hover {
    color: var(--blue);
}
