.trading_content {
    --trading-margin-top: 140px; 
    --trading-margin-bottom: 150px;
    color: var(--dark);
    margin-top: var(--trading-margin);
    margin-bottom: var(--trading-margin-bottom);
    /* margin-bottom: 150px; */
}

.categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    

}

.categories-nav {
    font-family: var(--font);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.categories-nav__link {
    margin-right: 38px;
    color: var(--dark);
    border: none;
    background: transparent;
    cursor: pointer;
}

.categories-nav__link_selected {
    font-weight: bold;
}


.categories-nav__link:hover {
    color: var(--blue);
}

.trading_items h1 {
    font-family: var(--secondary-font);
}

.trading-items {
    margin-bottom: 50px;
}

.trading-items__information {
    padding: 0 10px;
    margin-top: 20px;
}

.trading-items__link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    color: var(--dark);
    line-height: 32px;
    margin-top: 20px;
    
}

.trading-items__link:hover {
    color: var(--blue);
}

.trading-items__price {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    color: var(--grey);
    font-family: var(--font);
    font-size: 20px;
    line-height: 36px;
}


@media screen and (max-width:991px) {
    .categories {
        display: block ;
        text-align: center;
        margin-bottom: 36px;
        
    }

    .categories h1 { 
        margin-bottom: 28px;
    }
    .categories_nav {
        text-align: center;
        padding: 0;
    }

    .trading_content {
        margin-top: calc((var(--trading-margin-top)/2));
        margin-bottom: calc((var(--trading-margin-bottom)/2));
    }
}

@media screen and (max-width:575px)  {
    .trading-items {
        margin-bottom: 20px;
    }

    .trading-items__price {
        justify-content: flex-start;
    }

    .trading-items__price p {
        margin-right: 9px;
    }
    .trading_content {
        margin-top: calc((var(--trading-margin-top)/3));
        margin-bottom: calc((var(--trading-margin-bottom)/3));
    }
}

.btn-information {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.btn_more {
    background-color: var(--blue);
    width: 100%;
    border: none;
    color: #FAFAFB;
    border-radius: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-family: var(--secondary-font);
    display: block;
    position: relative;
    padding-top: calc(411/305*100%);

}

.btn_more:hover {
    color: var(--dark);
}

.btn-information h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 25px;
}

.btn-information p {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-family: var(--secondary-font);
}



@media screen and (max-width:575px)  {
    .categories-nav {
        width: 100%;
        padding: 0;
    }
    .categories-nav__link {
        font-size: 16px;
        margin-right: 16px;
    }
    
    .btn_more h2 {
        font-size: 28px;
    }
    .btn_more p {
        font-size: 20px;
    }

    .trading-items__link {
        font-size: 16px;
        margin: 0;
        line-height: 20px;
        
    }

    .trading-items__price {
        margin: 0;
    }
    .trading-items__price p {
        font-size: 14px;

    }
    .trading-items__information {
        margin-top: 13px;

    }

    .trading-item__action svg {
        height: 14px;
        width: 13px;
    }
}

.trading-item__action {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.trading-items__picture img {
    width: 100%;
    height: auto;
}

