.trading_content {
    --trading-margin-top: 140px; 
    --trading-margin-bottom: 150px;
    color: var(--dark);
    margin-top: var(--trading-margin);
    margin-bottom: var(--trading-margin-bottom);
    /* margin-bottom: 150px; */
}

.categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

}

.categories_nav {
    font-family: var(--font);
    font-size: 18px;
    display: flex;
    align-items: center;
    
}

.categories-nav__link {
    margin-right: 38px;
    color: var(--dark);
    border: none;
    background: transparent;
    cursor: pointer;
}

.categories-nav__link.selected {
    font-weight: bold;
}


.categories-nav__link:hover {
    color: var(--blue);
}

.trading_items h1 {
    font-family: var(--secondary-font);
}

.trading-items {
    margin-bottom: 50px;
}

.trading-items__information {
    padding: 0 10px;
    margin-top: 20px;
}

.trading-items__link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    color: var(--dark);
    line-height: 32px;
    margin-top: 20px;
    
}

.trading-items__link:hover {
    color: var(--blue);
}

.trading-items__price {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    color: var(--grey);
    font-family: var(--font);
    font-size: 20px;
    line-height: 36px;
}


@media screen and (max-width:991px) {
    .categories {
        display: block ;
        text-align: center;
        margin-bottom: 36px;
        
    }

    .categories h1 { 
        margin-bottom: 28px;
    }
    .categories_nav {
        justify-content: center;
    }

    .trading_content {
        margin-top: calc((var(--trading-margin-top)/2));
        margin-bottom: calc((var(--trading-margin-bottom)/2));
    }
}

@media screen and (max-width:575px)  {
    .trading-items {
        margin-bottom: 20px;
    }

    .trading-items__price {
        justify-content: flex-start;
    }

    .trading-items__price p {
        margin-right: 9px;
    }
    .trading_content {
        margin-top: calc((var(--trading-margin-top)/3));
        margin-bottom: calc((var(--trading-margin-bottom)/3));
    }
}

.btn_more {
    background-color: var(--blue);
    height: 350px;
    width: 260px;
    border: none;
    color: #E8EAE9;
    border-radius: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-family: var(--secondary-font);
    display: block;
}

.btn_more:hover {
    color: var(--dark);
}

.btn_more h2 {
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 25px;
}

.btn_more p {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-family: var(--secondary-font);
}

.trading-item__action {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.trading-items__picture {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

